<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Personenliste mit Vue.js</title>
    <script src="lib/vue.global.js"></script>
    <script src="script.js" defer></script>
    <style>
        #app .edit {
            display: none;
        }
        #app li.editing .edit {
            display: inline;
        }
        #app li.editing .view {
            display: none;
        }
        .empty-message {
            font-style: italic;
            color: gray;
        }
    </style>
</head>
<body>
<h1>Personenliste mit Vue.js</h1>

<div id="app">
    <ul>
        <template v-if="people.length > 0">
            <person-item v-for="(person, index) in people"
                         :key="index"
                         :firstname="person.firstname"
                         :lastname="person.lastname"
                         @delete-person="removePerson(index)"
                         @update-person="updatePerson(index, $event)">
            </person-item>
        </template>
        <p v-else class="empty-message">Die Personenliste ist leer.</p>
    </ul>
    <div>
        <input v-model="newFirstname" placeholder="Vorname">
        <input v-model="newLastname" placeholder="Nachname">
        <button @click="addPerson">Hinzufügen</button>
    </div>
    <button @click="clearPeople">Alle löschen</button>
</div>

<script type="x-template" id="person-template">
    <li :class="{editing: isEditing}">
        <button @click="$emit('delete-person')">x</button>
        <span class="view" @dblclick="startEditing">{{ firstname }} {{ lastname }}</span>
        <div class="edit">
            <input v-model="editedFirstname" @blur="saveEdit" placeholder="Vorname">
            <input v-model="editedLastname" @blur="saveEdit" placeholder="Nachname">
        </div>
    </li>
</script>
</body>
</html>
